@charset "utf-8";
@media (max-width: 400px) {
  .main {
    margin-top: 60px;
  }

  .title {
    font-size: 1.8rem;
  }

  .ways {
    margin-top: 30px;
  }

  .way {
    margin-top: 30px;
  }

  .number_how .number {
    font-size: 1.6rem;
  }
  
  .number_how h2 {
    font-size: 1.6rem;
    text-align: left;
  }

  .img_box {
    margin-top: 30px;
  }

  .comment {
    margin-top: 30px;
  }
  
  .comment h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  .footer {
    margin-top: 30px;
  }
}